.header{
    background-color: #9c4242;
    width: 100%;
    min-height: 7em;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;

}

.nav{
    background-color: burlywood;
    width: 100vw;
    max-width: 2048px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 0 1.5em;
}

.logo{
    background-color: blue;
    width: 15em;
    min-height: 100%;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: start;
    align-items: center;

}

.logo__img{
    background-color: #db817c;
    width:11em;
    height: 4.5em;
}

.barra{
    background-color: darkseagreen;
    width: 60em;
    margin: 0;
    
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: end;
    align-items: center;
}

.barra__links{
    background-color: rgb(53, 171, 160);
    list-style: none;
}

.barra__links a{
    background-color: darkorchid;
    padding: .5em 1.5em;

    text-decoration: none;
}

        /*MAIN*/

.main{
    width: 100%;
}

.uno{
    background-color:lightgreen;
    width: 100%;
    min-height: 100vh;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.uno__form{
    background-color: #9c4242;
    width: 70%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.uno__form--h1{
    background-color: #25ac4e;
    padding: 1em 2em;
    margin-bottom:1.5em;
}

.formulario{
    background-color: #db817c;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.formulario__izq{
    background-color: lightcyan;
    width: 50%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.formulario__izq--h2{
    width: 80%;
}
.formulario__dch{
    background-color: bisque;
    width: 50%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.formulario__dch--msj{
    background-color: #db817c;
    width: 80%;
    min-height: 10em;
    padding: 1em;
    margin: 1em 2em;

}

.formulario__dch--btn{
    background-color: aqua;
    padding: 1em 3em;
    margin: 0 1em;
}



/*FOOTER*/

.footer{
    background-color: #25ac4e;
    width: 100%;
    height: 4em;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;

}

.finp{
    background-color: #9c4242;
    width: 90vw;
    max-width: 2048px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.izq{
    background-color: #9dd33f;
    width: 50vw;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.izq__copy{
    background-color: lightcoral;
}

.dch{
    background-color: rgb(213, 148, 99);
    width: 50vw;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.dch__a{
    background-color: rgb(92, 197, 197);
    padding: 1em 2em;
}